.editing .updateError, .editing .saved {
  position: fixed;
  right: 60%;
  padding: 5px;
  color: white;
  margin-right: 15px;
}

.editing .updateError {
  background-color: #950909;
}

.editing .saved {
  background-color: #7EB737;
}

.Doc {
  section {
    margin-bottom: 50px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    & + span.caption {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: .8em;
      font-style: italic;
    }
  }
}
