.editing .updateError {
  position: absolute;
  right: 60%;
  background-color: #950909;
  padding: 5px;
  color: white;
}

.Doc {
  section {
    margin-bottom: 50px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    & + span.caption {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: .8em;
      font-style: italic;
    }
  }
}
