@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Merriweather';
  font-weight: 300;
  letter-spacing: 0.2px;
  @apply bg-zinc-900 text-zinc-200;
}

a {
  @apply text-rose-450 underline;
}

a:hover {
  @apply text-rose-400;
}

.about-content p {
  @apply mb-4;
}

.blog-content {
  @apply text-sm;
}

.blog-content h2 {
  @apply mb-8 text-2xl mt-8;
}

.blog-content h3 {
  @apply mb-4 uppercase font-mono font-normal tracking-wider border-b-zinc-700 border-b inline-block text-sm;
}

.blog-content p {
  @apply mb-4;
}

/* .blog-content p ~ h2 { */
/*   @apply mt-8; */
/* } */

.blog-content p + h3,
.blog-content div.remark-highlight + h3 {
  @apply mt-4;
}

.blog-content pre {
  width: calc(100vw - 196px);
  @apply !mb-4 py-2 font-light !bg-zinc-850 rounded-sm text-xs;
}

@media (max-width: 768px) {
  .blog-content pre {
    width: 100vw;
    @apply !-ml-4 text-xs;
  }
}
