---
import { SEO } from 'astro-seo';
import '../index.css';
import '../fonts.css';

export interface Props {
  title: string;
  metaDesc?: string;
}

const title = `${Astro.props.title} | Andre Azzolini`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO title={title} description={Astro.props.metaDesc ?? Astro.props.title} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-4 mt-4 md:ml-24 md:mt-24">
      <nav class="mb-16">
        <a href="/" class="no-underline text-zinc-300 tracking-widest font-mono text-xs font-medium">
          Andre Azzolini
        </a>
      </nav>
      <slot />
    </div>
  </body>
</html>
